@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap');

*, img, a{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
    --color-primary-darker: hsl(11, 73%, 46%);
    --color-primary-darker-h: 11;
    --color-primary-darker-s: 73%;
    --color-primary-darker-l: 46%;
    --color-primary-dark: hsl(11, 73%, 56%);
    --color-primary-dark-h: 11;
    --color-primary-dark-s: 73%;
    --color-primary-dark-l: 56%;
    --color-primary: hsl(11, 73%, 66%);
    --color-primary-h: 11;
    --color-primary-s: 73%;
    --color-primary-l: 66%;
    --color-primary-light: hsl(11, 100%, 80%);
    --color-primary-light-h: 11;
    --color-primary-light-s: 100%;
    --color-primary-light-l: 80%;
    --color-primary-lighter: hsl(14, 76%, 97%);
    --color-primary-lighter-h: 14;
    --color-primary-lighter-s: 76%;
    --color-primary-lighter-l: 97%;
    --color-accent-darker: hsl(349, 75%, 36%);
    --color-accent-darker-h: 349;
    --color-accent-darker-s: 75%;
    --color-accent-darker-l: 36%;
    --color-accent-dark: hsl(349, 75%, 44%);
    --color-accent-dark-h: 349;
    --color-accent-dark-s: 75%;
    --color-accent-dark-l: 44%;
    --color-accent: hsl(349, 75%, 51%);
    --color-accent-h: 349;
    --color-accent-s: 75%;
    --color-accent-l: 51%;
    --color-accent-light: hsl(349, 75%, 59%);
    --color-accent-light-h: 349;
    --color-accent-light-s: 75%;
    --color-accent-light-l: 59%;
    --color-accent-lighter: hsl(349, 75%, 67%);
    --color-accent-lighter-h: 349;
    --color-accent-lighter-s: 75%;
    --color-accent-lighter-l: 67%;
    --color-black: hsl(270, 3%, 11%);
    --color-black-h: 270;
    --color-black-s: 3%;
    --color-black-l: 11%;
    --color-black-light: hsl(264, 4%, 11%);
    --color-black-light-h: 264;
    --color-black-light-s: 4%;
    --color-black-light-l: 11%;
    --color-black-lighter: hsl(264, 5%, 20%);
    --color-black-lighter-h: 264;
    --color-black-lighter-s: 5%;
    --color-black-lighter-l: 20%;
    --color-white: hsl(0, 0%, 100%);
    --color-white-h: 0;
    --color-white-s: 0%;
    --color-white-l: 100%;
    --color-white-dark: hsl(210, 17%, 95%);
    --color-white-dark-h: 210;
    --color-white-dark-s: 17%;
    --color-white-dark-l: 95%;
    --color-success-darker: hsl(94, 48%, 42%);
    --color-success-darker-h: 94;
    --color-success-darker-s: 48%;
    --color-success-darker-l: 42%;
    --color-success-dark: hsl(94, 48%, 48%);
    --color-success-dark-h: 94;
    --color-success-dark-s: 48%;
    --color-success-dark-l: 48%;
    --color-success: hsl(94, 48%, 56%);
    --color-success-h: 94;
    --color-success-s: 48%;
    --color-success-l: 56%;
    --color-success-light: hsl(94, 48%, 65%);
    --color-success-light-h: 94;
    --color-success-light-s: 48%;
    --color-success-light-l: 65%;
    --color-success-lighter: hsl(94, 48%, 74%);
    --color-success-lighter-h: 94;
    --color-success-lighter-s: 48%;
    --color-success-lighter-l: 74%;
    --color-error-darker: hsl(349, 75%, 36%);
    --color-error-darker-h: 349;
    --color-error-darker-s: 75%;
    --color-error-darker-l: 36%;
    --color-error-dark: hsl(349, 75%, 44%);
    --color-error-dark-h: 349;
    --color-error-dark-s: 75%;
    --color-error-dark-l: 44%;
    --color-error: hsl(349, 75%, 51%);
    --color-error-h: 349;
    --color-error-s: 75%;
    --color-error-l: 51%;
    --color-error-light: hsl(349, 75%, 59%);
    --color-error-light-h: 349;
    --color-error-light-s: 75%;
    --color-error-light-l: 59%;
    --color-error-lighter: hsl(349, 75%, 67%);
    --color-error-lighter-h: 349;
    --color-error-lighter-s: 75%;
    --color-error-lighter-l: 67%;
    --color-bg: hsl(0, 0%, 100%);
    --color-bg-h: 0;
    --color-bg-s: 0%;
    --color-bg-l: 100%;
    --color-contrast-slight: hsl(0, 0%, 59%);
    --color-contrast-slight-h: 0;
    --color-contrast-slight-s: 0%;
    --color-contrast-slight-l: 59%;
    --color-contrast-lower: hsl(0, 0%, 95%);
    --color-contrast-lower-h: 0;
    --color-contrast-lower-s: 0%;
    --color-contrast-lower-l: 95%;
    --color-contrast-low: hsl(240, 1%, 83%);
    --color-contrast-low-h: 240;
    --color-contrast-low-s: 1%;
    --color-contrast-low-l: 83%;
    --color-contrast-medium: hsl(240, 1%, 48%);
    --color-contrast-medium-h: 240;
    --color-contrast-medium-s: 1%;
    --color-contrast-medium-l: 48%;
    --color-contrast-high: hsl(240, 4%, 20%);
    --color-contrast-high-h: 240;
    --color-contrast-high-s: 4%;
    --color-contrast-high-l: 20%;
    --color-contrast-higher: hsl(240, 8%, 12%);
    --color-contrast-higher-h: 240;
    --color-contrast-higher-s: 8%;
    --color-contrast-higher-l: 12%;
}
a{
	text-decoration: none;
}
body{
	font-family: 'Jost', sans-serif;
	font-size: 16px;
	margin: 0 auto;
}
.header{
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	position: fixed;
	top: 0;
	background-color: #fff;
	z-index: 2;
	width: 100%;
}
.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: 1rem;
	margin-left: 1rem;
}
.links{
	position: absolute;
	top: 5rem;
	background-color: var(--bg, var(--color-black-light));
	left: 0;
	width: 100%;
	padding: 2rem 2rem;
	transition: all .4s ease-in-out;
	display: none;
}
.links ul li{
	list-style: none;
}
.links ul li:not(:last-child){
	margin-bottom: 1.5rem;
}
.links ul li a{
	color: var(--color-white);
	font-size: 1.5rem;
	margin-bottom: 2rem;
	transition: all 0.3s;
}
.links ul li a:hover{
	color: var(--color-primary);
}
.cross{
	font-size: 1.8rem;
	display: none;
	cursor: pointer;
}
.logo{
	width: 12rem;
}
.ham{
	font-size: 1.8rem;
	cursor: pointer;
}
.intro{
	padding: 5rem 0 27rem;
	background-color: var(--color-primary);
	background-image: url("assets/home/desktop/bg-pattern-hero-home.svg");
	background-repeat: no-repeat;
	background-position: 0% 70%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: var(--color-white);
	position: relative;
	overflow: hidden;
}
.text{
	margin-top: 5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.text h1{
	font-weight: 500; 
	line-height: 1.2;
	max-width: 20ch;
}
.text p{
	font-size: 1rem;
	font-weight: 300;
	margin-top: 1.5rem;
	max-width: 35ch;
}
.btn-white{
	display: inline-flex;
	text-decoration: none;
	color: #000;
	background-color: #fff;
	justify-content: center;
	align-items: center;
	height: 3.5rem;
	width: 10rem;
	border-radius: 0.5rem;
	margin-top: 2rem;
	transition: all 0.4s;
}
.btn-white:hover{
	background-color: var(--color-primary-light);
	color: #fff;
}
.intro img{
    width: 39rem;
    position: absolute;
    bottom: -40%;
    left: 50%;
    transform: translateX(-50%);
}

.works{
	margin: 5rem 1rem;
	display: grid;
	grid-gap: 1.5rem;
	grid-template-areas: 
		"web-design"
		"app-design"
		"graphic-design";
}
.web{
	grid-area: web-design;
	background: url("assets/home/mobile/image-web-design.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px;
}
.app{
	grid-area: app-design;
	background: url("assets/home/mobile/image-app-design.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px;
}
.graphic{
	grid-area: graphic-design;
	background: url("assets/home/mobile/image-graphic-design.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px;
}

.image-card{
	color: #fff;
	height: 250px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
}
.image-card::before{
	content: " ";
	border-radius: 10px;
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: hsla(var(--color-black-light-h), var(--color-black-light-s), var(--color-black-light-l), 0.7);
	transition: all 0.4s;
}
.image-card:hover::before{
	background-color: hsla(var(--color-primary-light-h), var(--color-primary-light-s), var(--color-primary-light-l), 0.7);
}
.image-card h2, .cta{
	z-index: 1;
} 
.image-card h2{
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 1px;
}
.cta{
	display: flex;
	align-items: center;
	margin-top: 0.5rem;
}
.cta p{
	margin-right: 2rem;
	letter-spacing: 5px;
}

.about-us{
	margin: 5rem 1rem;
	text-align: center;
}
.icon{
	position: relative;
}

.icon::before{
	content: "";
	position: absolute;
	background-image: url("assets/shared/desktop/bg-pattern-small-circle.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	z-index: -1;
	left: 0;
	height: 100%;
	width: 100%;

}

.icon-cards h3{
	margin: 1.5rem 0;
	font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 5px;
}
.icon-cards p{
	font-weight: 400;
}
.icon-cards:not(:last-child){
	margin-bottom: 5rem;
}


.get-in-touch{
	margin-left: 1rem;
	margin-right: 1rem;
	background-color: var(--color-primary);
	background-image: url("assets/shared/mobile/bg-pattern-design-pages-intro-mobile.svg");
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 15px;
	text-align: center;
    transform: translateY(50%);
    margin-top: -11rem;
}
.cta-text{
	padding: 4rem 1rem;
	color: var(--color-white);
}
.contact h3{
	font-size: 2rem;
	font-weight: 500;
	line-height: 1;
}
.contact p{
	font-size: 1rem;
	font-weight: 300;
	margin-top: 1.5rem;
}
.contact-btn{
	font-weight: 500;
}

.footer{
	background: var(--color-black-light);
	color: var(--color-white);
	padding-top: 16rem;
	padding-bottom: 3rem;
	text-align: center;
}
.fo-logo{
	position: relative;
}
.fo-logo::after{
	content: "";
	position: absolute;
	background-color: hsla(var(--color-white-h), var(--color-white-s), var(--color-white-l), 0.5);
	opacity: 0.5;
	height: 1px;
	width: 90%;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);	
}
.footer-logo{
	width: 12.625rem;
	margin-bottom: 1.5rem; 
}
.footer-links{
	margin-bottom: 2rem;
}
.footer-links li{
	list-style: none;
	margin: 2rem;
	margin-bottom: 1.2rem;
}
.footer-links li a{
	color: var(--color-white);
	transition: all 0.3s;
}
.footer-links li a:hover{
	color: var(--color-primary);
}
.footer-locations, .footer-contact{
	color: hsla(var(--color-white-h), var(--color-white-s), var(--color-white-l), 0.5);
	margin-bottom: 2rem;
}
.social-icons{
	font-size: 1.5rem;
}
.social-icons a{
	color: var(--color-primary);
	transition: 0.3s;
}
.social-icons a:hover{
	color: var(--color-white);
}
.social-icons .fab{
	margin-right: 0.8rem;
}


@media (min-width: 768px){
	.hide-for-desktop{
		display: none !important;
	}
	.header{
		position: unset;
		background-color: #fff;
		z-index: unset;
		padding-top: 3.2rem;
		padding-bottom: 3.2rem;
	}
	.navbar{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-left: 2rem;
		margin-right: 2rem;
	}
	.links{
		position: unset;
		display: unset !important;
		width: unset;
		padding: unset;
		background-color: unset;
		color: var(--color-black);
	}
	.links ul li{
		list-style: none;
		display: inline-block;
	}
	.links ul li:not(:last-child){
		margin-bottom: 0;
		margin-right: 1.5rem;
	}
	.links ul li a{
		color: var(--color-black);
		font-size: 1.1rem;
		font-weight: 400;
		margin-bottom: 0;
	}
	.intro{
		padding: 4rem 0 27rem;
		background-position: 250% center;
		border-radius: 20px;
		margin-right: 2rem;
		margin-left: 2rem;
	}
	.text{
		margin-top: 0;
	}
	.text h1{ 
		line-height: 1.1;
		font-size: 3.2rem;
	}
	.text p{
		font-size: 1.1rem;
		font-weight: 400;
		margin-top: 1.5rem;
		max-width: 46ch;
	}
	.intro img{
	    bottom: -43%;
	}


	.works{
		margin: 5rem 2rem;
	}
	.image-card{
		height: 200px;
	}
	.image-card h2{
	    font-size: 2.6rem;
	}


	.about-us{
		margin: 5rem 2rem;
		text-align: left;
	}
	.icon-cards{
		display: flex;
		justify-content: space-between;
	}
	.icon{
		position: relative;
		margin-right: 4rem;
	}
	.icon-cards h3{
		margin: 1.8rem 0;
		font-size: 1.3rem;
	    font-weight: 500;
	    letter-spacing: 5px;
	}
	.icon-cards:not(:last-child){
		margin-bottom: 6rem;
	}


	.get-in-touch{
		margin-right: 2rem;
		margin-left: 2rem;
	}
	.cta-text{
		padding: 3.625rem;
		color: var(--color-white);
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.contact h3{
		font-size: 2.5rem;
		max-width: 12ch;
		font-weight: 500;
		line-height: 1;
	}
	.contact p{
		font-size: 1rem;
		font-weight: 300;
		max-width: 43ch;
		margin-top: 1.5rem;
	}
	.contact-btn{
		font-weight: 500;
	}


	.footer{
		padding-top: 16rem;
		padding-bottom: 5rem;
		text-align: left
	}
	.footer-elements{
		margin-right: 2rem;
		margin-left: 2rem;
		display: grid;
		grid-gap: 2.5rem;
		grid-template-areas: "nav-logo nav-logo"
							 "contact-container fo-social";

	}
	.nav-logo-container{
		grid-area: nav-logo;
		display: flex;
		justify-content: space-between;
		padding-bottom: 2.5rem;
		border-bottom: 1px solid hsla(var(--color-white-h), var(--color-white-s), var(--color-white-l), 0.2);
	}
	.fo-logo::after{
		display: none;	
	}
	.footer-logo{
		width: 12.625rem;
		margin-bottom: unset;
	}
	.footer-links{
		margin-bottom: unset;
	}
	.footer-links li{
		list-style: none;
		display: inline-block;
		margin: unset;
		margin-bottom: unset;
	}
	.footer-links li a{
		margin-left: 1.5rem;
	}
	.contact-container{
		grid-area: contact-container;
		display: flex;
		justify-content: space-between;
	}
	.contact-container h4{
		margin-bottom: 0.5rem;
		font-weight: 700;
	}
	.contact-container p{
		margin-bottom: 0.2rem;
	}
	.footer-locations, .footer-contact{
		margin-bottom: unset;
	}
	.social-icons{
		grid-area: fo-social;
		font-size: 1.5rem;
		color: var(--color-primary);
	}
	.social-icons .fab{
		margin-right: 0.5rem;
	}
	.social-icons{
		place-self: end;
	}

}


@media (min-width: 1024px){
	.navbar{
		margin-left: 2rem;
		margin-right: 2rem;
	}
	.intro{
		text-align: left;
		padding: 10rem 0 8rem;
		background-position: 100% center;
		flex-direction: unset;
		justify-content: unset;
		border-radius: 20px;
		margin-right: 2rem;
		margin-left: 2rem;
	}
	.text{
		margin-top: 0;
		margin-left: 2rem;
		padding-left: 4.5rem;
		align-items: unset;
	}
	.text h1{ 
		font-size: 3rem;
	}
	.text p{
		font-size: 1rem;
	}
	.intro img{
	    bottom: -40%;
	    right: -4.5rem;
	    transform: unset;
	    left: unset;
	}


	.works{
		margin: 5rem 2rem;
		display: grid;
		grid-gap: 1.5rem;
		grid-template-areas: 
		"web-design app-design" 
		"web-design graphic-design";
		grid-auto-columns: 1fr;
	}
	.web{
		grid-area: web-design;
		background: url("assets/home/desktop/image-web-design-small.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 10px;
	}
	.app{
		grid-area: app-design;
		background: url("assets/home/desktop/image-app-design.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 10px;
	}
	.graphic{
		grid-area: graphic-design;
		background: url("assets/home/desktop/image-graphic-design.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 10px;
	}
	.app, .graphic{
		height: 250px;
	}
	.image-card{
		height: 100%;
	}
	.image-card h2{
	    font-size: 2.6rem;
	}


	.about-us{
		margin: 7rem 2rem;
		text-align: center;
		display: flex;
		justify-content: space-between;
	}
	.icon-cards{
		display: unset;
	}
	.icon-cards p{
		line-height: 1.5;
	}
	.icon-cards:not(:last-child){
		margin-right: 1.5rem
	}
	.icon{
		margin-right: 4rem;
	}
	.icon-cards:not(:last-child){
		margin-bottom: unset;
	}


	.get-in-touch{
		background-image: url("assets/shared/desktop/bg-pattern-call-to-action.svg");
		margin-top: -9.5rem;
	}
	.cta-text{
		padding: 5rem 3rem;
		color: var(--color-white);
		display: flex;
		flex-direction: unset;
		justify-content: space-between;
		align-items: center;
	}
	.contact h3{
		font-size: 2.5rem;
		text-align: left;
		max-width: 12ch;
		font-weight: 500;
		line-height: 1;
	}
	.contact p{
		font-size: 1rem;
		text-align: left;
		font-weight: 300;
		max-width: 43ch;
		margin-top: 1.5rem;
	}
	.contact-btn{
		font-weight: 500;
	}


	.footer{
		padding-top: 16rem;
		padding-bottom: 5rem;
		text-align: left
	}
	.footer-elements{
		margin-right: 2rem;
		margin-left: 2rem;
		display: grid;
		grid-gap: 2.5rem;
		grid-template-areas: "nav-logo nav-logo"
							 "contact-container fo-social";

	}
	.nav-logo-container{
		grid-area: nav-logo;
		display: flex;
		justify-content: space-between;
		padding-bottom: 2.5rem;
		border-bottom: 1px solid hsla(var(--color-white-h), var(--color-white-s), var(--color-white-l), 0.2);
	}
	.fo-logo::after{
		display: none;	
	}
	.footer-logo{
		width: 12.625rem;
		margin-bottom: unset;
	}
	.footer-links{
		margin-bottom: unset;
	}
	.footer-links li{
		list-style: none;
		display: inline-block;
		margin: unset;
		margin-bottom: unset;
	}
	.footer-links li a{
		margin-left: 1.5rem;
		transition: all 0.3s;
	}
	.footer-links li a:hover{
		color: var(--color-primary);
	}
	.contact-container{
		grid-area: contact-container;
		display: flex;
		justify-content: unset;
	}
	.footer-locations{
		margin-right: 10rem;
	}
	
}

@media(min-width: 1200px){
	.navbar{
		margin-left: 4rem;
		margin-right: 4rem;
	}
	.intro{
		text-align: left;
		padding: 10rem 0 8rem;
		background-position: 100% center;
		flex-direction: unset;
		justify-content: unset;
		border-radius: 20px;
		margin-right: 4rem;
		margin-left: 4rem;
	}
	.text{
		margin-top: 0;
		margin-left: 2rem;
		padding-left: 4.5rem;
		align-items: unset;
	}
	.text h1{ 
		font-size: 3rem;
	}
	.text p{
		font-size: 1rem;
	}
	.intro img{
	    bottom: -40%;
	    right: -4.5rem;
	    transform: unset;
	    left: unset;
	}


	.works{
		margin: 5rem 4rem;
		display: grid;
		grid-gap: 1.5rem;
		grid-template-areas: 
		"web-design app-design" 
		"web-design graphic-design";
		grid-auto-columns: 1fr;
	}
	.web{
		grid-area: web-design;
		background: url("assets/home/desktop/image-web-design-large.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 10px;
	}
	.app{
		grid-area: app-design;
		background: url("assets/home/desktop/image-app-design.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 10px;
	}
	.graphic{
		grid-area: graphic-design;
		background: url("assets/home/desktop/image-graphic-design.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 10px;
	}
	.app, .graphic{
		height: 270px;
	}
	.image-card{
		height: 100%;
	}
	.image-card h2{
	    font-size: 2.6rem;
	}


	.about-us{
		margin: 7rem 4rem;
		text-align: center;
		display: flex;
		justify-content: space-between;
	}
	.icon-cards{
		display: unset;
	}
	.icon-cards p{
		line-height: 1.5;
	}
	.icon-cards:not(:last-child){
		margin-right: 1.5rem
	}
	.icon{
		margin-right: 4rem;
	}
	.icon-cards:not(:last-child){
		margin-bottom: unset;
	}


	.get-in-touch{
		margin-right: 4rem;
		margin-left: 4rem;
		background-image: url("assets/shared/desktop/bg-pattern-call-to-action.svg");
	}
	.cta-text{
		padding: 5rem 3rem;
		color: var(--color-white);
		display: flex;
		flex-direction: unset;
		justify-content: space-between;
		align-items: center;
	}
	.contact h3{
		font-size: 2.5rem;
		text-align: left;
		max-width: 12ch;
		font-weight: 500;
		line-height: 1;
	}
	.contact p{
		font-size: 1rem;
		text-align: left;
		font-weight: 300;
		max-width: 43ch;
		margin-top: 1.5rem;
	}
	.contact-btn{
		font-weight: 500;
	}


	.footer{
		padding-top: 16rem;
		padding-bottom: 5rem;
		text-align: left
	}
	.footer-elements{
		margin-right: 4rem;
		margin-left: 4rem;
		display: grid;
		grid-gap: 2.5rem;
		grid-template-areas: "nav-logo nav-logo"
							 "contact-container fo-social";

	}
	.nav-logo-container{
		grid-area: nav-logo;
		display: flex;
		justify-content: space-between;
		padding-bottom: 2.5rem;
		border-bottom: 1px solid hsla(var(--color-white-h), var(--color-white-s), var(--color-white-l), 0.2);
	}
	.fo-logo::after{
		display: none;	
	}
	.footer-logo{
		width: 12.625rem;
		margin-bottom: unset;
	}
	.footer-links{
		margin-bottom: unset;
	}
	.footer-links li{
		list-style: none;
		display: inline-block;
		margin: unset;
		margin-bottom: unset;
	}
	.footer-links li a{
		margin-left: 1.5rem;
		transition: all 0.3s;
	}
	.footer-links li a:hover{
		color: var(--color-primary);
	}
	.contact-container{
		grid-area: contact-container;
		display: flex;
		justify-content: unset;
	}
	.footer-locations{
		margin-right: 10rem;
	}
}

@media (min-width: 1400px){
	.navbar{
		margin-left: 10rem;
		margin-right: 10rem;
	}
	.intro{
		text-align: left;
		padding: 10rem 0 8rem;
		background-position: 100% center;
		flex-direction: unset;
		justify-content: unset;
		border-radius: 20px;
		margin-right: 10rem;
		margin-left: 10rem;
	}
	.text{
		margin-top: 0;
		margin-left: 2rem;
		padding-left: 4.5rem;
		align-items: unset;
	}
	.text h1{ 
		font-size: 3.2rem;
	}
	.text p{
		font-size: 1rem;
		margin-top: 1.8rem;
	}
	.btn-white{
		margin-top: 2.3rem;
	}
	.intro img{
	    bottom: -40%;
	    right: -4.5rem;
	    transform: unset;
	    left: unset;
	}


	.works{
		margin: 5rem 10rem;
		display: grid;
		grid-gap: 1.5rem;
		grid-template-areas: 
		"web-design app-design" 
		"web-design graphic-design";
		grid-auto-columns: 1fr;
	}
	.web{
		grid-area: web-design;
		background: url("assets/home/desktop/image-web-design-large.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 10px;
	}
	.app{
		grid-area: app-design;
		background: url("assets/home/desktop/image-app-design.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 10px;
	}
	.graphic{
		grid-area: graphic-design;
		background: url("assets/home/desktop/image-graphic-design.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 10px;
	}
	.app, .graphic{
		height: 320px;
	}
	.image-card{
		height: 100%;
	}
	.image-card h2{
	    font-size: 2.6rem;
	}


	.about-us{
		margin: 7rem 10rem;
		text-align: center;
		display: flex;
		justify-content: space-between;
	}
	.icon-cards{
		display: unset;
	}
	.icon-cards p{
		line-height: 1.5;
	}
	.icon-cards:not(:last-child){
		margin-right: 1.5rem
	}
	.icon{
		margin-right: 4rem;
	}
	.icon-cards:not(:last-child){
		margin-bottom: unset;
	}


	.get-in-touch{
		margin-right: 10rem;
		margin-left: 10rem;
		background-image: url("assets/shared/desktop/bg-pattern-call-to-action.svg");
	}
	.cta-text{
		padding: 5rem 3rem;
		color: var(--color-white);
		display: flex;
		flex-direction: unset;
		justify-content: space-between;
		align-items: center;
	}
	.contact h3{
		font-size: 2.5rem;
		text-align: left;
		max-width: 12ch;
		font-weight: 500;
		line-height: 1;
	}
	.contact p{
		font-size: 1rem;
		text-align: left;
		font-weight: 300;
		max-width: 43ch;
		margin-top: 1.5rem;
	}
	.contact-btn{
		font-weight: 500;
	}


	.footer{
		padding-top: 16rem;
		padding-bottom: 5rem;
		text-align: left;
	}
	.footer-elements{
		margin-right: 10rem;
		margin-left: 10rem;
		display: grid;
		grid-gap: 2.5rem;
		grid-template-areas: "nav-logo nav-logo"
							 "contact-container fo-social";

	}
	.nav-logo-container{
		grid-area: nav-logo;
		display: flex;
		justify-content: space-between;
		padding-bottom: 2.5rem;
		border-bottom: 1px solid hsla(var(--color-white-h), var(--color-white-s), var(--color-white-l), 0.2);
	}
	.fo-logo::after{
		display: none;	
	}
	.footer-logo{
		width: 12.625rem;
		margin-bottom: unset;
	}
	.footer-links{
		margin-bottom: unset;
	}
	.footer-links li{
		list-style: none;
		display: inline-block;
		margin: unset;
		margin-bottom: unset;
	}
	.footer-links li a{
		margin-left: 1.5rem;
		transition: all 0.3s;
	}
	.footer-links li a:hover{
		color: var(--color-primary);
	}
	.contact-container{
		grid-area: contact-container;
		display: flex;
		justify-content: unset;
	}
	.footer-locations{
		margin-right: 10rem;
	}
}
.container{
	max-width: 1600px;
	margin: 0 auto;
}
.footer-container{
	max-width: 1600px;
	margin: 0 auto;
}


/*++++++++++++++
  + About Page +
  ++++++++++++++
*/

.about{
	margin-top: 5rem;
	background-color: var(--color-primary);
	background-image: url("assets/about/mobile/bg-pattern-hero-about-mobile.svg");
	background-repeat: no-repeat;
	background-position: 95% 0%;
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: var(--color-white);
	overflow: hidden;
}
.about-img, .talent-img, .real-img{
	width: 100%;
}
.about-img img, .talent-img img, .real-img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.about-us-text{
	margin: 5rem 1.5rem 4rem;
}
.about-us-text h1{
	font-weight: 500;
	font-size: 2.2rem;
	margin-bottom: 2rem;
}

.talent, .real-deal{
	margin-top: 5rem;
	background-color: var(--color-primary-lighter);
	background-image: url("assets/shared/desktop/bg-pattern-three-circles.svg");
	background-repeat: no-repeat;
	background-position: 95% 100%;
	background-size: contain;
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: var(--color-black);
	overflow: hidden;
}
.talent-text, .real-deal-text{
	margin: 4rem 1.5rem 5rem;
}
.talent-text h2, .real-deal h2{
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: 2px;
	color: var(--color-primary);
}
.talent-text p, .real-deal p{
	margin-top: 1.8rem;
}

.locations{
	text-align: center;
	margin: 5rem 1rem;
}
.country-card:not(:last-child){
	margin-bottom: 4rem;
}
.country{
	position: relative;
}
.country-card p{
	letter-spacing: 3px;
	font-weight: 500;
	font-size: 1.1rem;
	margin-top: 1.5rem;
}
.country-card .btn-white{
	background-color: var(--color-primary);
	color: var(--color-white);
	margin-top: 1.5rem;
}
.country-card .btn-white:hover{
	background-color: var(--color-primary-light);
} 
.country::before{
	content: "";
	position: absolute;
	background-image: url("assets/shared/desktop/bg-pattern-small-circle.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	left: 0;
	height: 100%;
	width: 100%;
}
.country-card:nth-child(2) .country::before{
	transform: rotate(-90deg);
}
.country-card:nth-child(3) .country::before{
	transform: rotate(180deg);
}

.real-deal{
	margin-bottom: 4rem;
}

@media (min-width: 768px){
	.about{
		margin-top: 0;
		margin-left: 2rem;
		margin-right: 2rem;
		border-radius: 20px;
		background-image: url("assets/about/desktop/bg-pattern-hero-about-desktop.svg");
		background-repeat: no-repeat;
		background-position: -50% -4rem;
	}
	.about-us-text{
		margin: 3rem 4rem 4rem;
	}
	.about-us-text h1{
		font-size: 3rem;
		margin-bottom: 1.8rem;
	}
	.about-us-text p{
		font-size: 1.02rem;
	}

	.talent{
		margin-left: 2rem;
		margin-right: 2rem;
		border-radius: 20px;
	}
	.talent-text{
		margin: 3rem 4rem 4rem;
	}
	.talent-text h2{
		font-size: 2.5rem;
	}
	.talent-text p{
		font-size: 1.02rem;
	}

	.real-deal{
		margin-left: 2rem;
		margin-right: 2rem;
		border-radius: 20px;
	}
	.real-deal-text{
		margin: 3rem 4rem 4rem;
	}
	.real-deal-text h2{
		font-size: 2.5rem;
	}
	.real-deal-text p{
		font-size: 1.02rem;
	}
}

@media (min-width: 1024px){
	.about, .talent, .real-deal{
		display: block;
		flex-direction: unset;
		text-align: left;
		position: relative;
		padding-top: 5rem;
		padding-bottom: 5rem;
		background-position: -40% -4rem;
	}
	.about-us-text, .real-deal-text{
		max-width: 36ch;
	}
	.about-img, .talent-img, .real-img{
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 476px;
	}
	.talent{
		background-image: url("assets/shared/desktop/bg-pattern-three-circles.svg");
		background-repeat: no-repeat;
		background-position: 95% 100%;
		background-size: contain;
	}
	.talent-img{
		left: 0;
	}
	.talent-text{
		max-width: 36ch;	
		float: right;
	}

	.locations{
		display: flex;
		justify-content: space-between;
		margin-right: 2rem;
		margin-left: 2rem;
	}
}

@media (min-width: 1200px){
	.about, .talent, .locations, .real-deal{
		margin-left: 4rem;
		margin-right: 4rem;
	}
	.about-us-text, .real-deal-text{
		max-width: 45ch;
		margin-left: 5.5rem;
	}
	.talent-text{
		max-width: 45ch;
		margin-right: 5.5rem;
	}
	.about-img, .talent-img, .real-img{
		width: 500px;
	}
}
@media (min-width: 1300px){
	.about-us-text, .real-deal-text, .talent-text{
		max-width: 50ch;
	}
	.about-img, .talent-img, .real-img{
		width: 500px;
	}
}
@media (min-width: 1400px){
	.about, .talent, .locations, .real-deal{
		margin-left: 10rem;
		margin-right: 10rem;
	}
	.about-us-text, .real-deal-text, .talent-text{
		max-width: 45ch;
	}

}


/* +++++++++++
   +Locations+
   +++++++++++
   */

.location-card{
	margin-top: 5rem;
	margin-bottom: 5rem;
}
.map-card{
	margin-top: 2rem;
	display: flex;
	flex-direction: column-reverse;
	text-align: center;
	background-color: var(--color-primary-lighter);
	overflow: hidden;
}
.locations-text{
	padding: 3rem 0;
	background: url("assets/shared/desktop/bg-pattern-three-circles.svg");
	background-size: contain;
	background-repeat: no-repeat;
}
.locations-text h1{
	color: var(--color-primary);
	font-size: 2.2rem;
	font-weight: 500;
	margin-bottom: 2rem;
}
.address h2, .location-contact h2{
	font-size: 1rem;
}
.address{
	margin-bottom: 1.5rem;
}


@media (min-width: 768px){
	.location-card{
		margin-top: 0;
		margin-bottom: 0;
		margin-right: 2rem;
		margin-left: 2rem;
	}
	.map-card{
		margin-top: 0;
		margin-bottom: 3rem;
		
		border-radius: 20px;
	}
	iframe{
		height: 300px;
	}
	.locations-text{
		text-align: left;
		padding: 5rem 5rem;
	}
	.locations-text h1{
		font-size: 3rem;
		font-weight: 500;
	}
	.address h2, .location-contact h2{
		font-size: 1rem;
	}
	.map-card-contact{
		text-align: left;
		display: inline-flex;
	}
	.address{
		margin-bottom: 0;
		margin-right: 5rem;
	}

}

@media (min-width: 1024px){
	.map-card{
		flex-direction: unset;
		justify-content: space-between;
		align-items: center;
	}
	iframe{
		height: 370px;
		width: 370px;
	}
	.locations-text{
		padding: 5rem 0 5rem 5rem;
	}
	.reverse-map-card{
		flex-direction: row-reverse;
	}
	.reverse-map-card .locations-text{
		padding: 5rem 5rem 5rem 0rem;
	}
}

@media (min-width: 1200px){
	.location-card{
		margin-left: 4rem;
		margin-right: 4rem;
	}
	iframe{
		height: 390px;
		width: 390px;
	}
}

@media (min-width: 1200px){
	iframe{
		height: 420px;
		width: 420px;
	}
}

@media (min-width: 1400px){
	.location-card{
		margin-left: 10rem;
		margin-right: 10rem;
	}
	iframe{
		height: 430px;
		width: 430px;
	}
}


/* +++++++++++
   ++Contact++
   +++++++++++
   */

.footer-no-top-padding{
		padding-top: 5rem;
}
.contact-form-box{
	margin-top: 5rem;
	background: var(--color-primary);
	background-image: url("assets/contact/mobile/bg-pattern-hero-contact-mobile.svg");
	background-size: 200%;
	background-repeat: no-repeat;
	padding: 4rem 2rem;
	text-align: center;
	color: var(--color-white);
	display: flex;
	flex-direction: column;
	align-items: center;
}
.contact-form{
	width: 100%;
}
.contact-text{
	margin-bottom: 3rem;
}
.contact-text h1{
 	font-weight: 500;
 	margin-bottom: 2rem;
}
.contact-text p{
	max-width: 40ch;
}
.input{
	position: relative;
	margin-bottom: 2rem;
}
.form-input{
	width: 100%;
	border: none;
	background: none;
	border-bottom: 1px solid var(--color-white);
	line-height: 1.2;
	padding: 0 0 0.8rem 1rem;
	font-size: 1rem;
	color: var(--color-white)
	box-shadow: none;
	font-family: 'Jost', sans-serif;
	resize: none;
	transition: all 0.2s ease;
	cursor: pointer;
	appearance: none;
	outline: none;
}
.form-input:hover{
	border-bottom: 2px solid var(--color-white);
	margin-bottom: -1px;
}
.field-error{
	display: inline-flex;
	position: absolute;
	align-items: center;
	right: 0;
	display: none;
}
.field-error p{
	font-size: 0.7rem;
	font-weight: 300;
	font-style: italic;

}
.field-error img{
	margin-left: 0.5rem;
	height: 100%;
}
form .btn-white{
	margin-top: 1rem;
	cursor: pointer;
}

@media (min-width: 768px){
	.contact-form-box{
		margin-top: 0;
		margin-left: 2rem;
		margin-right: 2rem;
		border-radius: 20px;
		padding: 4rem 5rem;
		display: flex;
		flex-direction: column;
		align-items: center;

	}
	.contact-text h1{
		font-size: 3rem;
		margin-bottom: 2rem;
	}
	.contact-text p{
		max-width: 44ch;
		text-align: left;
	}
	.contact-form{
		width: 100%;
	}
	.form-input{
		font-size: 1.2rem;
	}

}

@media (min-width: 1024px){
	.contact-form-box{
		flex-direction: unset;
		justify-content: space-between;
	}
	.contact-form{
		text-align: right;
	}
	.contact-text{
		margin-right: 5rem;
		text-align: left;
	}
	.contact-text h1{
		font-size: 4rem;
	}
	.contact-text p{
		max-width: 108ch;
		font-size: 1.02rem;
	}

}

@media (min-width: 1200px){
	.contact-form-box{
		margin-right: 4rem;
		margin-left: 4rem;
	}
}

@media (min-width: 1400px){
	.contact-form-box{
		margin-right: 10rem;
		margin-left: 10rem;
	}
}	


/* ++++++++++++
   +Web-design+
   ++++++++++++
   */



.web-design-intro{
	margin-top: 5rem;
	background: var(--color-primary);
	background-image: url("assets/web-design/desktop/bg-pattern-intro-web.svg");
	background-repeat: no-repeat;
	background-position: right center;
	color: var(--color-white);
	padding: 5rem 2rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.web-design-intro h1{
	font-weight: 500;
	font-size: 2.4rem;
	margin-bottom: 2rem;
}
.web-design-intro p{
	max-width: 38ch;
}

.work-samples{
	margin-left: 1rem;
	margin-right: 1rem;
	margin-top: 5rem;
	display: grid;
	grid-gap: 1.8rem;
}
.sample-card{
	border-radius: 20px;
}
.sample-card img{
	max-width: 100%;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
.card-link{
	padding: 2rem 1rem;
	text-align: center;
	color: var(--color-black);
	background: var(--color-primary-lighter);
	display: flex;
	flex-direction: column;
	align-items: center;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
.card-link:hover {
	background: var(--color-primary);
	color: var(--color-white);
}
.card-link:hover h3{
	color: var(--color-white);
}
.text-component h3{
	color: var(--color-primary);
	font-size: 1.5rem;
	font-weight: 500;
	letter-spacing: 3px;
	text-transform: uppercase;
	margin-bottom: 1.5rem;
}
.text-component p{
	max-width: 30ch;
}

@media (min-width: 768px){
	.web-design-intro{
		margin-left: 2rem;
		margin-right: 2rem;
		margin-top: 0;
		border-radius: 20px;
		padding: 3rem 2rem;
	}
	.work-samples{
		margin-left: 2rem;
		margin-right: 2rem;
	}

}


@media (min-width: 1024px){
	.work-samples{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 1.8rem;
	}
	.web-design-works{
		display: grid;
		grid-template-areas: "app-design graphic-design";
		grid-auto-columns: 1fr;
	}
}